<?xml version="1.0" encoding="utf-8"?>
<Game configVersion="1">

  <!--PlayFabCommerceValidation-->
  <Identity Name="41336MicrosoftATG.PlayFabCommerceValidation" Version="2022.6.27.0" Publisher="CN=A4954634-DF4B-47C7-AB70-D3215D246AF1" />

  <ExecutableList>
    <Executable Name="PlayFabServicesTestApp.GDK.exe"
                Id="Game"/>
  </ExecutableList>

  <!--PlayFabCommerceValidation-->
  <TitleId>7c1adc90</TitleId>
  <StoreId>9PNSDHLZ793R</StoreId>
  <MSAAppId>3055cfd9-9bc7-4c70-9f6f-024996499e85</MSAAppId>

  <ShellVisuals DefaultDisplayName="PlayFabCommerceValidation"
                PublisherDisplayName="AGS"
                Square480x480Logo="LargeLogo.png"
                Square150x150Logo="GraphicsLogo.png"
                Square44x44Logo="SmallLogo.png"
                Description="Sample Game for Validating Economy V2 Scenarios"
                ForegroundText="light"
                BackgroundColor="#000040"
                SplashScreenImage="SplashScreen.png"
                StoreLogo="StoreLogo.png" />

  <DevelopmentOnly>
    <DebugNetworkPortList>
      <DebugNetworkPort>9000</DebugNetworkPort>
    </DebugNetworkPortList>
  </DevelopmentOnly>

</Game>